{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <title>TripDuck</title>
</head>
<body>
{% include "navbar.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
    <img src="/static/img/Img_main.jpg" alt="mainpage_map" usemap="#mainpage_map" style="width:auto;">
    <map name="mainpage_map">
      <area shape="rect" coords="234,254,311,317" alt="Europe" href="{% url 'common:Europe' %}">
      <area shape="rect" coords="126,449,240,508" alt="Africa" href="{% url 'common:Africa' %}">
      <area shape="rect" coords="446,287,533,341" alt="Asia" href="{% url 'common:Asia' %}">
      <area shape="rect" coords="536,613,675,672" alt="Oceania" href="{% url 'common:Oceania' %}">
      <area shape="rect" coords="949,270,1099,330" alt="NAmerica" href="{% url 'common:NAmerica' %}">
      <area shape="rect" coords="1115,549,1269,607" alt="SAmerica" href="{% url 'common:SAmerica' %}">
    </map>
</body>
</html>