{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table border="2" width="1000" height="800">
        {% if nation_list %}
        {% for nation in nation_list %}
        <tr>
            <td>
                국가명 : {{ nation.kname }}<br>
                <img src ="/static/country/{{ nation.name }}.png"><br>
                속한 지역 : {{ nation.continental }}<br>
                설명 : {{ nation.description }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>


{% endblock %}